<div class="container">
I said SIGN IN

<%= form_tag authenticate_session_path do %>

<div>
  <%= label_tag :username %><br/>
  <%= text_field_tag :username %>
</div>

<div>
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %>
</div>

<div>
  <%= submit_tag "Sign in" %>
</div>

<% end %>
</div>
